a{
    color: pink
}

.name-header {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    transition: transform 0.3s;
}

.collapse.show+.arrow,
.collapse.show~.arrow {
    transform: rotate(0deg);
}

.collapsed .arrow {
    transform: rotate(-90deg);
}

.list-group-item:hover {
    background-color: #333 !important;
    border-color: #ffc107 !important;
}

footer p {
    color: #ddd;
}